{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block body_block %}

    <h1>Top categories:</h1>

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    <h1>Top pages:</h1>

    {% if page_list %}
        <ul>
            {% for page in page_list %}
                <li><a href="{{ page.url }}">{{ page.title }} [{{page.views}}]</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

{% endblock %}